.books-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
}


.books-container h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 книжки в ряд */
  gap: 1.5rem;
  width: 100vw; /* повна ширина вікна */
  padding: 0 2rem; /* невеликий відступ по краях */
  box-sizing: border-box; /* враховує padding у ширину */
}

@media (max-width: 1024px) {
  .books-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .books-grid {
    grid-template-columns: 1fr;
  }
}


.book-card {
  background-color: #d3d3d3;
  height: 250px;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  overflow: hidden;
}

.book-card:hover {
  transform: scale(1.01);
}

.book-card img {
  width: 80px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.book-details {
  flex: 1;
  overflow: hidden;
}

.book-details h2 {
  margin: 0;
  font-size: 1rem;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-details p {
  margin: 0;
  font-size: 0.8rem;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.pagination-controls button {
  padding: 0.5rem 1rem;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-controls span {
  font-weight: bold;
}